<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Crear Nota
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="saveNote()">
    <ion-item>
      <ion-label>
        Título
      </ion-label>
      <ion-input label="Título" type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Descripción
      </ion-label>
      <ion-textarea label="Descripción" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>
        Date
      </ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-button expand="full" type="submit">Guardar Nota</ion-button>
     <ion-toolbar>
        <ion-button  slot="start"expand="full" (click)="takePhoto()">Tomar Foto</ion-button>
        <ion-button  slot="end"expand="full" (click)="borrarFoto()">Borrar Foto</ion-button>
    </ion-toolbar>
    <img [src]="'data:image/jpeg;base64,' + imageData" *ngIf="imageData" />
    <div id="map"></div>
    <div *ngIf="latitude !== undefined && longitude !== undefined">
    </div>
  </form>
</ion-content>
