<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     NOTEA
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    ></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row style="display: flex; flex-wrap: wrap;">
      @for(note of noteS.notes$ | async;track note.key){
        <ion-col col="3" style="flex: 0 0 80%;">

          <ion-card color="tertiary">
            <ion-card-header>
              <ion-card-title>{{note.title}}</ion-card-title>
              <ion-card-subtitle>{{note.description}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-icon slot="start" src="assets/icons/trash.svg" (click)="deleteNoteConfirmation(note)" style="zoom: 1.5;"></ion-icon>
              
            </ion-card-content>
            <ion-card-content>
              <ion-icon slot="start" src="assets/icons/create.svg"  (click)="this.editNote(note)" style="zoom: 1.5;"></ion-icon>
            </ion-card-content>
            <ion-card-content>
              <ion-button color="light" (click)="openMapModal(note)">Mostrar Mapa</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>