<ion-header>
  <ion-toolbar>
    <ion-title>
      Chatboot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <!-- Desplegar preguntas disponibles -->
    <ion-item>
      <ion-label class="preguntas-disponibles-label">Preguntas disponibles</ion-label>
      <ion-select multiple="true" cancelText="Cancelar" okText="Aceptar" [(ngModel)]="preguntasSeleccionadas">
        <ion-select-option *ngFor="let pregunta of preguntasDisponibles" [value]="pregunta">
          {{ pregunta }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Mensajes del usuario -->
    <ion-item *ngFor="let mensaje of mensajesUsuario" class="mensaje-usuario">
      <ion-card>
        <ion-card-content>
          {{ mensaje }}
        </ion-card-content>
      </ion-card>
    </ion-item>

    <!-- Respuestas del chatbot -->
    <ion-item *ngFor="let respuesta of respuestasChatbot" class="respuesta-chatbot">
      <ion-card>
        <ion-card-content>
          {{ respuesta }}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <!-- Área de preguntas del usuario y botón para enviar -->
  <ion-grid style="position: absolute; bottom: 0; width: 100%;">
    <ion-row>
      <ion-col size="10">
        <ion-item>
          <ion-textarea rows="1" placeholder="Escribe tu pregunta aquí" [(ngModel)]="preguntaUsuario"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" (click)="enviarPregunta()">Enviar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
